/*
 * Custom styles
 */
.fixed-theme {
  position: fixed;
  top: 0px;
	border-bottom: 1px solid #9a9a9a;
	box-shadow: 0 5px 20px -1px #9a9a9a;
  z-index: 1;
  width: 100%;  
}

.navbar-nav.mr-auto{
  width: 100%;
  justify-content: space-evenly;
}
.nav-item{
  width: 130px;
  text-align: -webkit-center;
}

.nav-item img {
  width: 60px;
  height: 60px;
  margin-top: 1.6px;
  margin-bottom: -17px;
}
.left_margin{
  margin-left: auto;
}
.top_padding{
  padding-top: 8px;  
}
.right_margin{
  margin-right: auto;
}
.category_header{
    text-align: left;
    padding: 15px 0px 15px 44px;
    margin-bottom: -23px;
}

/* Home Section */
#home{
    height: 680px;
    background-color: #fafafa; 
}
#dgsm_carousel{
  height: 680px;
}  
.carousel-item img {
  height: 680px;
}
/* Functions Section */
#functions{
  height: 100%;  
  padding-top: 0px;  
}
.function_ul{
  list-style: none;
  margin-top: 0px;
  width: 100%;
  padding: 15px 10px 0px 30px;
  transition: all 0.6s;
}
.function_first{
  margin-left: auto;
}
.function_third{
  margin-right: auto;
}
.icon_div_wrapper{
  width: 31px;
  position: absolute;
  height: 100%;
}
.fa_div{
  margin-top: 10px;
  margin-left: -29px;
  margin-right: 35px;
  background-color: transparent;
  text-align: -webkit-center;
  font-weight: lighter;
  color: white;
  opacity: .85;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  height: 3px;
  border: 1px solid #fff;
  background-color: #fff;
}
.last{
  margin-top: 28px;
}
@media(max-width: 993px){
  #wrapper{
    width: 100% !important;
  }  
  .header > div{
    padding: 68px 0px 0px !important;
  }    
  .last{
    margin-top: 0px !important;
  }
  .row.onHover{
    height: 80px !important;
  }
  .sections_wrapper{
    height: 100% !important;
    display: inline-block;
    width: 100%;
  }
  #functions, #departments > div, #geoscientific_info, #map {
      padding-top: 1px !important;
  }  
  footer{
    margin-top: -6px;    
  }
  #contact{
    margin-bottom: 6px;    
  }
}
.row.onHover{
  margin-bottom: 15px;
  height: 40px;  
  margin-left: auto;  
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.row.onHover > div{
  text-align: -webkit-left;  
}
.info{
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);  
}
.function_ul .onHover:hover .fa_div{
  margin-left: -1px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border: 1px solid #f35757;
  background-color: #f35757;
  margin-right: 0px;
}
.function_ul .onHover:hover .info{
  margin-left: 40px;
}
.function_ul .row .info{
  padding: 0px;
  height: stretch ;
  padding-top: 1px;
  width: 100%;  
}
/* Department Section */
#departments{
    height: 100%;
}
#departments > div{
  /*padding-top: 64px;*/
}
#departments > div > .row{
  padding-top: 0px;
}
#departments div .row .card_first_div{
  margin-left: auto;
  margin-right: auto;
}
.wrap-card {
  position: relative;
  box-shadow: 0px 0px 0px #818181;
  transition: all 0.2s ease 0s;
  -webkit-transform: translateY(0px) translateX(0px);
  margin-top: 48px;
}
.wrap-card:before,
.wrap-card:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  background: #818181;
  -webkit-transform: scaleX(0);
  transition: all 0.2s ease;
}
.wrap-card:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
}
.wrap-card:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 100% 0;
}
.wrap-card:hover {
  box-shadow: 20px 20px 0px #818181;
  -webkit-transform: translateY(-10px) translateX(-10px);
  transition: all 0.2s ease 0.4s;
}
.wrap-card:hover:after,
.wrap-card:hover:before {
  -webkit-transform: scaleX(1);
}
.card_custom {
  background: #ffffff;
  padding: 30px 35px 45px 35px;
  margin-bottom: 30px;
  border: 1px solid rgba(129, 129, 129, 0.1);
  height: 435px;
}
.card_custom:before,
.card_custom:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 3px;
  height: 100%;
  background: #818181;
  -webkit-transform: scaleY(0);
  transition: all 0.2s ease 0.2s;
}
.card_custom:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 100%;
}
.card_custom:after {
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
}
.card_custom:hover:after,
.card_custom:hover:before {
  -webkit-transform: scaleY(1);
}
.text-detail{
  padding: 20px 20px 0px 20px;    
}

/* Geoscientific Section */
#geoscientific_info{
    height: 100%;
    overflow-y: auto;    
}

#geoscientific_info > div {
    height: 100%;   
}
.geo_first{
  margin-left: auto;
}
.geo_last{
  margin-right: auto;
}
.services {
  margin: 10px 0;
  height: 100%;
  text-align: -webkit-center;
}
.service {
  width: 90%;
  height: 200px;  
	margin: 7px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.map_service:hover{
    height: 100% !important;  
}
.service .icon-holder {
  position: relative;
  top: 40px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  background: white;
  transition: all 0.3s ease;
  border:1px solid transparent;
}

.service .heading {
	position: relative;
	top: 30px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
	width: 40px;
}

.service:hover {
	border-color: #f35757;
}

.service:hover .icon-holder {
  top: -23px !important;
  border-color: #f35757;
}

.service:hover .heading {
	top: -30px !important;
}

.service:hover .map_img {
	font-size: 14px !important;
}

.service .service-img{
  cursor: pointer;
}

.service .description,
.service .service-img {
  width: 100%;
  padding: 0px 10px;
  text-align: justify;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description,
.service:hover .service-img {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
  transform: scale(1);
  margin-top: -26px;
}
.light {
	font-weight: 300;
}
.muted {
	color: #989da0;
}

/* Map Section */
#map{
  height: 100%;
  text-align: -webkit-center;  
}
#map > div,
#contact > div{
  padding: 0px;
  height: 100%;
}
.map_heading{
  margin-bottom: -6px;  
}
#map > div > .row{
  height: 87.5%;
  margin: 0px;
}
.actual_map{
  display: -webkit-inline-box;  
  height: 100%;
  padding: 0px;
}

/* Contact Section */
#contact{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.91);
  color: white;
}
#contact > div > .row{
  margin: 0px;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
  overflow:hidden;
  text-align: -webkit-left;  
}
.contact_info_cols{
  margin-top: 10px;  
}

#contact .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: yellow;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/* Loading overlay */
.loading-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #1d1d1d;
}
/*spinner*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 300px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  background-color: red;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
}
.sk-cube-grid .sk-cube2 {
  background-color: black;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; 
}
.sk-cube-grid .sk-cube3 {
  background-color: yellow;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  background-color: yellow;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; 
}
.sk-cube-grid .sk-cube5 {
  background-color: red;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
}
.sk-cube-grid .sk-cube6 {
  background-color: black;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; 
}
.sk-cube-grid .sk-cube7 {
  background-color: black;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; 
}
.sk-cube-grid .sk-cube8 {
  background-color: yellow;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; 
}
.sk-cube-grid .sk-cube9 {
  background-color: red;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/* Footer Section */
footer {
  color: white;
  height: 100%;
}
footer > .cover{
  background-color: rgba(0, 0, 0, 0.61);  
  padding: 0px 0px 0px 0px;
}

.blink_wrapper{
  position: absolute;
  margin-top: 111px;
  margin-left: 40px;  
}

footer .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: yellow;
}

footer .opening-hours {
	margin-top: 60px;
}

footer .bottom-footer {
  margin-top: 0px;
  width: 100%;
  padding-left: 11px;
  margin-left: 0px;  
}

.bottom-footer > div > p{
  margin-top: 10px;
  margin-bottom: 10px;  
}

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: #00a8ff;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}
.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}
